html {
  $enable-negative-margins: true;
//   overflow-x: hidden;
}

nav {
  height: 4rem;
  button.btn.btn-outline-primary {
    color: black;
    border: none;
  }
  #logo {
    cursor: pointer;
  }
}



