//scss variables
$primary: #a1d5ff;
// $label: #0578c5;
$darkBlue: #0e4470;
$success: #5fff87;
$darkGreen: #319b38;
$danger: #ff4b41;
$light: #fafafa;
$dark: #212121;
$transition: all 250ms ease-in-out;
$transition-long: all 1s ease;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

nav {
  height: 4rem !important;
  a.brand-logo {
    font-weight: 700;
    font-size: 24px;
    color: $light;
    margin: 0 0 0 -4rem;

    @media only screen and (max-width: 570px) {
      margin-left: 1rem !important;
      overflow: hidden;
    }
  }
  ul.right li {
    // position: relative;
    // top: -4.5rem;
    // overflow-y: hidden;
    a {
      position: relative;
      top: -4.5rem;
      right: 0 !important;
      font-size: 16px;
      font-weight: 600;
      span {
        font-weight: 500 !important;
        font-size: 18px;
      }
      &:hover {
        background-color: transparent;
        font-size: 18px;
        color: $primary;
        transition: $transition;
      }
    }
  }
  div.center span {
    position: relative;
    top: 0;
    bottom: 0;
    left: -3rem;
  }

  .sidenav-trigger .iconify {
    font-weight: 800;
    font-size: 32px;
    position: relative;
    top: 0.5rem;
    left: 0;
  }
}

.sidenav {
  li a {
    font-size: 18px;
    &:hover,
    &:active {
      color: $darkBlue;
      font-size: 20px;
    }
  }
}

svg.iconify.prefix.active {
  color: $darkBlue;
}

#addNotesSection {
  .card.white {
    margin-top: -3rem;
    height: fit-content;
    padding: 0 0 3rem;
    overflow: hidden;

    @media only screen and (max-width: 992px) {
      margin-top: 1.5rem;
      overflow: hidden;
    }

    .card-title {
      font-weight: 500;
      color: $darkBlue;
    }

    #noteCount{
      border: 1px solid $darkBlue;
      padding: 1px 1.5rem 1px 1.25rem;
      border-radius: 8px;
      font-size: 14px;
      box-shadow: 2px 2px rgba($darkBlue, 0.8);
      transition: $transition;
    }

    .messageBox {
      position: relative;
      left: 20%;
      margin: 0.5rem 0;
      height: 20%;
      width: 60%;
      // background-color: $darkBlue;
      // color: white;
      display: none;
      .noteAdd-msg {
        padding: 0.5rem;
        position: relative;
        background-color: $primary;
        color: black;
        width: 100%;
      }
      .success-msg {
        padding: 0.5rem;
        position: relative;
        background-color: $darkGreen;
        color: white;
        width: 100%;
      }
      .delete-msg {
        padding: 0.5rem;
        position: relative;
        background-color: $danger;
        color: white;
        width: 100%;
      }
    }

    .message {
      overflow: hidden;
      position: relative;
      left: 35%;
      right: inherit;

      @media only screen and (max-width: 1102px) {
        position: relative;
        left: 30%;
        right: inherit;
      }

      @media only screen and (max-width: 489px) {
        position: relative;
        left: 5%;
        right: inherit;
      }
    }
  }

  /* label focus color */
  .input-field input[type="text"]:focus + label {
    color: $darkBlue;
  }

  .input-field textarea:focus + label {
    color: $darkBlue;
  }
  /* label underline focus color */
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid $darkBlue;
    box-shadow: 0 1px 0 0 $darkBlue;
  }
}

textarea.myTextArea {
  margin-top: 0.5rem;
  &::placeholder {
    color: gray;
  }
}

textarea.myTextArea:focus,
textarea.myTextArea:active {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid $darkBlue !important;
  box-shadow: 0 1px 0 0 $darkBlue;
}
/* icon prefix color */
.input-field .prefix {
  color: gray;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $darkBlue;
}

.btnWrap {
  position: relative;
  top: 0.5rem;
  bottom: 1rem;
  left: 2rem;
  // overflow: hidden;

  .btn {
    z-index: 0;
    width: 25%;
    font-size: 16px;
    text-transform: none;
    background-color: transparent;
    color: $darkGreen;
    border: 1px solid $darkGreen;
    border-radius: 0 25px 0 25px;
    overflow: hidden;
    // box-shadow: none;
    &:hover,
    &:active {
      background-color: $darkGreen;
      color: white;
      transition: $transition;
    }

    .iconify {
      font-size: 18px;
      font-weight: 600;
    }

    @media only screen and (max-width: 841px) {
      width: 40%;
      overflow: hidden;
    }
    @media only screen and (max-width: 470px) {
      width: 60%;
      overflow: hidden;
    }
  }
}

#showNotesSection {
  // padding-bottom: 4rem;
  .card {
    margin-top: -1rem;
    padding-bottom: 3rem;
    .card-title {
      font-weight: 500;
    }
    .divider + p.truncate {
      margin-top: 0.5rem;
    }

    a.btn {
      text-transform: none;
      position: relative;
      top: 1.5rem;
      border-radius: 25px 0 25px 0;
      background-color: transparent;
      &.viewBtn {
        color: $darkBlue;
        border: 1px solid $darkBlue;
        &:hover {
          color: white;
          background-color: $darkBlue;
          transition: $transition;
        }
      }
      &.delBtn {
        color: $danger;
        border: 1px solid $danger;
        // box-shadow: none;
        overflow: hidden;
        &:hover {
          color: white;
          background-color: $danger;
          transition: $transition;
        }
      }
    }
  }
}

// modal
// .modal {
//   h4 {
//     font-weight: 500;
//   }
//   p {
//     margin-top: 0.5rem;
//   }
//   a.modal-close {
//     margin-right: 1rem !important;
//     margin-bottom: 0.5rem !important;
//     text-transform: none;
//     background-color: white;
//     border: 1px solid $darkBlue;
//     &:hover,
//     &:active {
//       color: white;
//       background-color: $darkBlue;
//       transition: $transition;
//     }
//   }
// }

//custom modal
.modal-wrap {
  display: none;
  // visibility: hidden;
  position: fixed;
  top: 0;
  left: 0 !important;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  // overflow: auto;
  background-color: rgba($dark, 0.5);
  backdrop-filter: blur(2px);
  transition: $transition;
  .popup {
    // padding: 1rem;
    background-color: white;
    border: 1px solid $dark;
    width: 80vw;
    height: 60vh;
    position: absolute;
    top: 15%;
    left: 10%;
    overflow: auto;
    // transition: $transition-long;
  }
  .popup-content {
    .popup-title {
      margin: 0;
      font-size: 30px;
      padding: 1.5rem 2rem;
      font-weight: 500;
      color: rgba($dark, 0.6);
    }
    //MODAL CONTENT
    p {
      // margin-top: 0.5rem;
      font-weight: 400;
      padding: 1rem 2rem;
      font-size: 20px;
    }
    // .popup-footer {
    //   position: inherit;
    //   // top: 25%;
    //   a.close {
    //     position: relative;
    //     top: 50%;
    //     left: 93%;
    //     @media only screen and (max-width: 1107px) {
    //       left: 90%;
    //     }
    //     @media only screen and (max-width: 770px) {
    //       left: 87%;
    //     }
    //     @media only screen and (max-width: 770px) {
    //       left: 84%;
    //     }
    //     @media only screen and (max-width: 490px) {
    //       left: 82%;
    //     }
    //     @media only screen and (max-width: 490px) {
    //       left: 80%;
    //     }
    //     @media only screen and (max-width: 384px) {
    //       left: 78% !important;
    //     }
    //     @media only screen and (max-width: 344px) {
    //       left: 75% !important;
    //     }
    //     overflow: none;
    //     text-transform: none;
    //     background-color: white;
    //     border: 1px solid $darkBlue;
    //     &:hover,
    //     &:active {
    //       cursor: pointer;
    //       color: white;
    //       background-color: $darkBlue;
    //       transition: $transition;
    //     }
    //   }
    // }
  }
}

.hidden {
  display: none !important;
}

.loaderGif {
  height: 100% !important;
  width: 100% !important;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderGif.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
