@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

nav {
  height: 4rem !important;
}

nav a.brand-logo {
  font-weight: 700;
  font-size: 24px;
  color: #fafafa;
  margin: 0 0 0 -4rem;
}

@media only screen and (max-width: 570px) {
  nav a.brand-logo {
    margin-left: 1rem !important;
    overflow: hidden;
  }
}

nav ul.right li a {
  position: relative;
  top: -4.5rem;
  right: 0 !important;
  font-size: 16px;
  font-weight: 600;
}

nav ul.right li a span {
  font-weight: 500 !important;
  font-size: 18px;
}

nav ul.right li a:hover {
  background-color: transparent;
  font-size: 18px;
  color: #a1d5ff;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

nav div.center span {
  position: relative;
  top: 0;
  bottom: 0;
  left: -3rem;
}

nav .sidenav-trigger .iconify {
  font-weight: 800;
  font-size: 32px;
  position: relative;
  top: 0.5rem;
  left: 0;
}

.sidenav li a {
  font-size: 18px;
}

.sidenav li a:hover, .sidenav li a:active {
  color: #0e4470;
  font-size: 20px;
}

svg.iconify.prefix.active {
  color: #0e4470;
}

#addNotesSection {
  /* label focus color */
  /* label underline focus color */
}

#addNotesSection .card.white {
  margin-top: -3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0 3rem;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  #addNotesSection .card.white {
    margin-top: 1.5rem;
    overflow: hidden;
  }
}

#addNotesSection .card.white .card-title {
  font-weight: 500;
  color: #0e4470;
}

#addNotesSection .card.white .messageBox {
  position: relative;
  left: 20%;
  margin: 0.5rem 0;
  height: 20%;
  width: 60%;
  display: none;
}

#addNotesSection .card.white .messageBox .noteAdd-msg {
  padding: 0.5rem;
  position: relative;
  background-color: #a1d5ff;
  color: black;
  width: 100%;
}

#addNotesSection .card.white .messageBox .success-msg {
  padding: 0.5rem;
  position: relative;
  background-color: #5fff87;
  color: black;
  width: 100%;
}

#addNotesSection .card.white .messageBox .delete-msg {
  padding: 0.5rem;
  position: relative;
  background-color: #fd261b;
  color: white;
  width: 100%;
}

#addNotesSection .card.white .message {
  overflow: hidden;
  position: relative;
  left: 35%;
  right: inherit;
}

@media only screen and (max-width: 1102px) {
  #addNotesSection .card.white .message {
    position: relative;
    left: 30%;
    right: inherit;
  }
}

@media only screen and (max-width: 489px) {
  #addNotesSection .card.white .message {
    position: relative;
    left: 5%;
    right: inherit;
  }
}

#addNotesSection .input-field input[type="text"]:focus + label {
  color: #0e4470;
}

#addNotesSection .input-field textarea:focus + label {
  color: #0e4470;
}

#addNotesSection .input-field input[type="text"]:focus {
  border-bottom: 1px solid #0e4470;
  -webkit-box-shadow: 0 1px 0 0 #0e4470;
          box-shadow: 0 1px 0 0 #0e4470;
}

textarea.myTextArea {
  margin-top: .5rem;
}

textarea.myTextArea::-webkit-input-placeholder {
  color: gray;
}

textarea.myTextArea:-ms-input-placeholder {
  color: gray;
}

textarea.myTextArea::-ms-input-placeholder {
  color: gray;
}

textarea.myTextArea::placeholder {
  color: gray;
}

textarea.myTextArea:focus, textarea.myTextArea:active {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid #0e4470 !important;
  -webkit-box-shadow: 0 1px 0 0 #0e4470;
          box-shadow: 0 1px 0 0 #0e4470;
}

/* icon prefix color */
.input-field .prefix {
  color: gray;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #0e4470;
}

.btnWrap {
  position: relative;
  top: 0.5rem;
  bottom: 1rem;
  left: 2rem;
  overflow: hidden;
}

.btnWrap .btn {
  z-index: 0;
  width: 25%;
  font-size: 16px;
  text-transform: none;
  background-color: transparent;
  color: #319b38;
  border: 1px solid #319b38;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 25px 0 25px 0;
  overflow: hidden;
}

.btnWrap .btn:hover, .btnWrap .btn:active {
  background-color: #319b38;
  color: white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btnWrap .btn .iconify {
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 841px) {
  .btnWrap .btn {
    width: 40%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 470px) {
  .btnWrap .btn {
    width: 60%;
    overflow: hidden;
  }
}

#showNotesSection .card {
  padding-bottom: 3rem;
}

#showNotesSection .card .card-title {
  font-weight: 500;
}

#showNotesSection .card .divider + p.truncate {
  margin-top: 0.5rem;
}

#showNotesSection .card a.btn {
  text-transform: none;
  position: relative;
  top: 1.5rem;
  border-radius: 25px 0 25px 0;
  background-color: transparent;
}

#showNotesSection .card a.btn.viewBtn {
  color: #0e4470;
  border: 1px solid #0e4470;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#showNotesSection .card a.btn.viewBtn:hover {
  color: white;
  background-color: #0e4470;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#showNotesSection .card a.btn.delBtn {
  color: #fd261b;
  border: 1px solid #fd261b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#showNotesSection .card a.btn.delBtn:hover {
  color: white;
  background-color: #fd261b;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.modal h4 {
  font-weight: 500;
}

.modal p {
  margin-top: 0.5rem;
}

.modal a.modal-close {
  margin-right: 1rem !important;
  margin-bottom: 0.5rem !important;
  text-transform: none;
  background-color: white;
  border: 1px solid #0e4470;
}

.modal a.modal-close:hover, .modal a.modal-close:active {
  color: white;
  background-color: #0e4470;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */